[submodule "AppSettings"]
	path = AppSettings
	url = http://krr-app-gitlab01/ppm/AppSettings.git
[submodule "Helpers"]
	path = Helpers
	url = http://krr-app-gitlab01/ppm/Helpers.git
[submodule "MessageLogs"]
	path = MessageLogs
	url = http://krr-app-gitlab01/ppm/MessageLogs.git
