[submodule "AppSettings"]
	path = AppSettings
	url = http://krr-app-bbgit01.europe.mittalco.com/AppSettings.git
[submodule "Helpers"]
	path = Helpers
	url = http://krr-app-bbgit01.europe.mittalco.com/Helpers.git
[submodule "MessageLogs"]
	path = MessageLogs
	url = http://krr-app-bbgit01.europe.mittalco.com/MessageLogs.git
