.img-header-rw {
    background-image: url(../Image/header.jpg);
}
.img-header-kis {
    background-image: url(../Image/header.jpg);
}
.img-header-mt {
    background-image: url(../Image/header.jpg);
}
.img-header-home {
    background-image: url(../Image/header-home.jpg);
}
.img-header-error404 {
    background-image: url(../Image/Error_404.jpg);
}
.img-header-access-denied {
    background-image: url(../Image/access-denied.png);
}
.img-header-error {
    background-image: url(../Image/error.jpg);
}
.img-header-td {
     background-image: url(../Image/pattern.png), url(../Image/td.jpg);
}
.img-header-td-admin {
    background-image: url(../Image/pattern.png), url(../Image/header.jpg);
}

/*.img-header-td-marriage {
     background-image: url(../Image/pattern.png), url(../Image/td.jpg);
}*/

div.col-md-3 h2 {
    font-size: 22px;
    /*color:#f8e051;*/
    font-weight:600;
    /*text-align:center*/
}