.img-header-rw {
    background-image: url(../Image/header.jpg);
}
.img-header-kis {
    background-image: url(../Image/header.jpg);
}
.img-header-mt {
    background-image: url(../Image/header.jpg);
}
.img-header-home {
    background-image: url(../Image/header-home.jpg);
}