body {
    background-color: transparent;
    background-repeat: repeat, no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    background-size: auto, cover;
}

.report-wide{
    margin-right: auto;
    margin-left: auto;
    max-width: 1500px;
}

BODY {
    font-family: Cambria, Georgia, "Times New Roman";
    margin: 0;
}

DIV#header DIV.title {
    font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial;
}

DIV#report {
    color: #666;
    background: White;
}

DIV#header {
    background-color: #444;
    border-bottom: 2px solid #111;
    color: White;
}

    DIV#header DIV.title {
        font-size: 2em;
        padding: .6em;
    }

DIV#report-content {
    padding: 1em;
    border-left: 2px solid gray;
}

DIV#report-menu {
    float: left;
    width: 18em;
    padding: .3em;
}

    DIV#report-menu A {
        font: bold 1.1em "Arial Narrow","Franklin Gothic Medium",Arial;
        display: block;
        text-decoration: none;
        padding: .6em;
        color: Black;
        border-bottom: 1px solid silver;
    }

        DIV#report-menu A.selected {
            background-color: #666;
            color: White;
        }

        DIV#report-menu A:hover {
            background-color: #CCC;
        }

        DIV#report-menu A.selected:hover {
            background-color: #666;
        }

DIV#report-menu-content {
    margin-left: 19em;
    padding: 1em;
    border-left: 2px solid gray;
}

DIV#report-operation {
}

    DIV#report-operation A {
        font: bold 1.1em "Arial Narrow","Franklin Gothic Medium",Arial;
        display: block;
        text-decoration: none;
        padding: .6em;
        margin-right: 5px;
        color: Black;
        border: 1px solid silver;
        float: left;
    }

        DIV#report-operation A.selected {
            background-color: #666;
            color: White;
        }

        DIV#report-operation A:hover {
            background-color: #CCC;
        }

        DIV#report-operation A.selected:hover {
            background-color: #666;
        }

DIV#report-detali {
    padding: 1em;
}

div#cls {
    clear: left;
}


/*Отчет вагоны по прибытию*/ 
#cars-arrival TR.amkr {
    background-color: #fcfa7e;
}

#cars-arrival TR.amkr-taken {
    background-color: #91cb6a;
}

#cars-arrival TR.normal {
    background-color: White;
}