.setup-operation {
    padding: 5px;
    text-align:left;
}

    .setup-operation button {
        margin-left: 5px;
    }

    .setup-operation label {
        margin-left: 5px;
        margin-right: 5px;
    }

.label-text {
    font-weight: 400;
    color: #3e3b3b;
}

.value-text {
    font-weight: 400;
    color: #0026ff;
}

.dataTables_wrapper .dataTables_length {
    float:right;
}

#table-list-last {
    font-size: 11px;
    table-layout:fixed;
}

    #table-list-last th {
        text-align: center;
    }

    #table-list-last td {
        text-align: center;
        font-size: 13px;
    }

.not-limit {
    background: #e0ab85;
}

.ok-limit {
    background: #a0ce77;
}

.on-amkr {
    background: #DDEBF7;
}

.cars-sending {
    background: #FFF2CC;
}

.cars-approach {
    background: #FFF2CC;
}

.on-client {
    background: #E2EFDA;
}

.footer-on-amkr {
    background: #BDD7EE;
    font-weight: bold;
    color: #3e3b3b;
    border: 1px solid #808080;
}

.footer-cars-sending {
    background: #FFE699;
    font-weight: bold;
    color: #3e3b3b;
    border: 1px solid #808080;
}

.footer-cars-approach {
    background: #FFE699;
    font-weight: bold;
    color: #3e3b3b;
    border: 1px solid #808080;
}

.footer-on-client {
    background: #C6E0B4;
    font-weight: bold;
    color: #3e3b3b;
    border: 1px solid #808080;
}

td.details-control {
    background: url('../../Content/DataTables/images1/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../../Content/DataTables/images1/details_close.png') no-repeat center center;
}

.detali-operation-wt {
    border-left: 6px solid #8ae;
    border-top: 1px solid #8ae;
    padding: 10px;
    font-size: 14px;
    line-height: 1.4;
    background-color: #eee;
    border-radius: 4px;
}