body {
}


tr.group,
tr.group:hover {
    background-color: #ddd !important;

}


td.details-control {
    background: url('../../Content/DataTables/images1/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../../Content/DataTables/images1/details_close.png') no-repeat center center;
}    

.detali-wt {
    border-left: 6px solid #8ae;
    border-top: 1px solid #8ae;
    padding: 10px;
    font-size: 14px;
    line-height: 1.4;
    background-color: #eee;
    border-radius: 4px;
}

.setup-operation {
    padding: 5px;
}

    .setup-operation button {
        margin-left: 5px;
    }

    .setup-operation label {
        margin-left: 5px;
        margin-right: 5px;
    }