<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DiffieHellman.local" version="1.0.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="EntityFramework.ru" version="6.2.0" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess" version="12.2.1100" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="12.2.1100" targetFramework="net452" />
  <package id="Tamir.SharpSSH" version="1.1.1.13" targetFramework="net452" />
  <package id="Tamir.SharpSsh.dll" version="1.1.1.14" targetFramework="net452" />
</packages>