USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [RW].[Directory_Consignee]    Script Date: 08.11.2018 17:38:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RW].[Directory_Consignee](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name_ru] [nvarchar](250) NOT NULL,
	[name_en] [nvarchar](250) NOT NULL,
	[name_full_ru] [nvarchar](500) NOT NULL,
	[name_full_en] [nvarchar](500) NOT NULL,
	[name_abr_ru] [nvarchar](20) NOT NULL,
	[name_abr_en] [nvarchar](20) NOT NULL,
	[id_shop] [int] NULL,
	[user_create] [nvarchar](50) NULL,
	[dt_create] [datetime] NOT NULL,
	[user_edit] [nvarchar](50) NULL,
	[dt_edit] [datetime] NULL,
	[id_kis] [int] NULL,
 CONSTRAINT [PK_Directory_Consignee] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [RW].[Directory_Consignee] ON 

INSERT [RW].[Directory_Consignee] ([id], [name_ru], [name_en], [name_full_ru], [name_full_en], [name_abr_ru], [name_abr_en], [id_shop], [user_create], [dt_create], [user_edit], [dt_edit], [id_kis]) VALUES (0, N'Грузополучатель не определен', N'Consignee is not defined', N'Грузополучатель не определен', N'Consignee is not defined', N'?', N'?', NULL, N'europe\ealevchenko', CAST(N'2018-03-23T12:25:14.810' AS DateTime), NULL, NULL, 0)
INSERT [RW].[Directory_Consignee] ([id], [name_ru], [name_en], [name_full_ru], [name_full_en], [name_abr_ru], [name_abr_en], [id_shop], [user_create], [dt_create], [user_edit], [dt_edit], [id_kis]) VALUES (1, N'ДЦ-1', N'ДЦ-1', N'Доменный цех N1', N'Доменный цех N1', N'ДЦ-1', N'ДЦ-1', 1, N'EUROPE\ealevchenko', CAST(N'2018-03-23T13:16:15.643' AS DateTime), NULL, NULL, 10)
INSERT [RW].[Directory_Consignee] ([id], [name_ru], [name_en], [name_full_ru], [name_full_en], [name_abr_ru], [name_abr_en], [id_shop], [user_create], [dt_create], [user_edit], [dt_edit], [id_kis]) VALUES (2, N'ДЦ-2', N'ДЦ-2', N'Доменный цех N2', N'Доменный цех N2', N'ДЦ-2', N'ДЦ-2', 2, N'EUROPE\ealevchenko', CAST(N'2018-03-23T13:16:57.177' AS DateTime), NULL, NULL, 20)
SET IDENTITY_INSERT [RW].[Directory_Consignee] OFF
ALTER TABLE [RW].[Directory_Consignee]  WITH CHECK ADD  CONSTRAINT [FK_Directory_Consignee_Directory_Shops] FOREIGN KEY([id_shop])
REFERENCES [RW].[Directory_Shops] ([id])
GO
ALTER TABLE [RW].[Directory_Consignee] CHECK CONSTRAINT [FK_Directory_Consignee_Directory_Shops]
GO
