USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [RW].[Directory_InternalStations]    Script Date: 08.11.2018 17:38:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RW].[Directory_InternalStations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name_ru] [nvarchar](200) NOT NULL,
	[name_en] [nvarchar](200) NOT NULL,
	[view] [bit] NOT NULL,
	[exit_uz] [bit] NOT NULL,
	[station_uz] [bit] NOT NULL,
	[default_side] [bit] NULL,
	[code_uz] [int] NULL,
	[user_create] [nvarchar](50) NOT NULL,
	[dt_create] [datetime] NOT NULL,
	[user_edit] [nvarchar](50) NULL,
	[dt_edit] [datetime] NULL,
	[id_kis] [int] NULL,
 CONSTRAINT [PK_Directory_InternalStations] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [RW].[Directory_InternalStations] ON 

INSERT [RW].[Directory_InternalStations] ([id], [name_ru], [name_en], [view], [exit_uz], [station_uz], [default_side], [code_uz], [user_create], [dt_create], [user_edit], [dt_edit], [id_kis]) VALUES (1, N'Аглофабрика', N'Аглофабрика', 1, 0, 0, NULL, NULL, N'EUROPE\krr-svc-RailWay', CAST(N'2018-11-08T14:31:15.087' AS DateTime), NULL, NULL, 4)
INSERT [RW].[Directory_InternalStations] ([id], [name_ru], [name_en], [view], [exit_uz], [station_uz], [default_side], [code_uz], [user_create], [dt_create], [user_edit], [dt_edit], [id_kis]) VALUES (2, N'Аглофабрика ГД', N'Аглофабрика ГД', 1, 0, 1, NULL, NULL, N'EUROPE\krr-svc-RailWay', CAST(N'2018-11-08T14:31:15.253' AS DateTime), NULL, NULL, NULL)
INSERT [RW].[Directory_InternalStations] ([id], [name_ru], [name_en], [view], [exit_uz], [station_uz], [default_side], [code_uz], [user_create], [dt_create], [user_edit], [dt_edit], [id_kis]) VALUES (3, N'Батуринская', N'Батуринская', 1, 0, 1, NULL, 466904, N'EUROPE\krr-svc-RailWay', CAST(N'2018-11-08T14:31:15.450' AS DateTime), NULL, NULL, 31)
SET IDENTITY_INSERT [RW].[Directory_InternalStations] OFF
