USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [RW].[Directory_Shops]    Script Date: 08.11.2018 17:38:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RW].[Directory_Shops](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_station] [int] NULL,
	[name_ru] [nvarchar](250) NOT NULL,
	[name_en] [nvarchar](250) NOT NULL,
	[name_full_ru] [nvarchar](500) NOT NULL,
	[name_full_en] [nvarchar](500) NOT NULL,
	[code_amkr] [int] NULL,
	[user_create] [nvarchar](50) NOT NULL,
	[dt_create] [datetime] NOT NULL,
	[user_edit] [nvarchar](50) NULL,
	[dt_edit] [datetime] NULL,
	[id_kis] [int] NULL,
	[parent_id] [int] NULL,
 CONSTRAINT [PK_Directory_Shops] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [RW].[Directory_Shops] ON 

INSERT [RW].[Directory_Shops] ([id], [id_station], [name_ru], [name_en], [name_full_ru], [name_full_en], [code_amkr], [user_create], [dt_create], [user_edit], [dt_edit], [id_kis], [parent_id]) VALUES (1, NULL, N'ДЦ-1', N'ДЦ-1', N'Доменный цех N1', N'Доменный цех N1', NULL, N'EUROPE\krr-svc-RailWay', CAST(N'2018-11-08T14:36:55.757' AS DateTime), NULL, NULL, 10, NULL)
INSERT [RW].[Directory_Shops] ([id], [id_station], [name_ru], [name_en], [name_full_ru], [name_full_en], [code_amkr], [user_create], [dt_create], [user_edit], [dt_edit], [id_kis], [parent_id]) VALUES (2, NULL, N'ДЦ-2', N'ДЦ-2', N'Доменный цех N2', N'Доменный цех N2', NULL, N'EUROPE\krr-svc-RailWay', CAST(N'2018-11-08T14:36:55.760' AS DateTime), NULL, NULL, 20, NULL)
INSERT [RW].[Directory_Shops] ([id], [id_station], [name_ru], [name_en], [name_full_ru], [name_full_en], [code_amkr], [user_create], [dt_create], [user_edit], [dt_edit], [id_kis], [parent_id]) VALUES (3, NULL, N'КХП', N'КХП', N'КХП', N'КХП', NULL, N'EUROPE\krr-svc-RailWay', CAST(N'2018-11-08T14:36:55.763' AS DateTime), NULL, NULL, 300, NULL)
SET IDENTITY_INSERT [RW].[Directory_Shops] OFF
ALTER TABLE [RW].[Directory_Shops]  WITH CHECK ADD  CONSTRAINT [FK_Directory_Shops_Directory_Shops] FOREIGN KEY([parent_id])
REFERENCES [RW].[Directory_Shops] ([id])
GO
ALTER TABLE [RW].[Directory_Shops] CHECK CONSTRAINT [FK_Directory_Shops_Directory_Shops]
GO
ALTER TABLE [RW].[Directory_Shops]  WITH CHECK ADD  CONSTRAINT [FK_Shops_Stations] FOREIGN KEY([id_station])
REFERENCES [RailWay].[Stations] ([id])
GO
ALTER TABLE [RW].[Directory_Shops] CHECK CONSTRAINT [FK_Shops_Stations]
GO
