USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [RW].[Directory_Ways]    Script Date: 08.11.2018 17:38:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RW].[Directory_Ways](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_station] [int] NOT NULL,
	[num] [nvarchar](20) NOT NULL,
	[name_ru] [nvarchar](250) NOT NULL,
	[name_en] [nvarchar](250) NOT NULL,
	[position] [int] NULL,
	[capacity] [int] NULL,
	[id_type_way] [int] NOT NULL,
	[id_car_status] [int] NULL,
	[id_station_end] [int] NULL,
	[id_shop_end] [int] NULL,
	[id_overturn_end] [int] NULL,
	[user_create] [nvarchar](50) NOT NULL,
	[dt_create] [datetime] NOT NULL,
	[user_edit] [nvarchar](50) NULL,
	[dt_edit] [datetime] NULL,
 CONSTRAINT [PK_Directory_Ways] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [RW].[Directory_Ways] ON 

INSERT [RW].[Directory_Ways] ([id], [id_station], [num], [name_ru], [name_en], [position], [capacity], [id_type_way], [id_car_status], [id_station_end], [id_shop_end], [id_overturn_end], [user_create], [dt_create], [user_edit], [dt_edit]) VALUES (1, 1, N'1', N'выгрузочный', N'выгрузочный', 1, 12, 0, NULL, NULL, NULL, NULL, N'EUROPE\krr-svc-RailWay', CAST(N'2018-11-08T17:03:53.910' AS DateTime), NULL, NULL)
INSERT [RW].[Directory_Ways] ([id], [id_station], [num], [name_ru], [name_en], [position], [capacity], [id_type_way], [id_car_status], [id_station_end], [id_shop_end], [id_overturn_end], [user_create], [dt_create], [user_edit], [dt_edit]) VALUES (2, 1, N'2', N'выгрузочный', N'выгрузочный', 2, 10, 0, NULL, NULL, NULL, NULL, N'EUROPE\krr-svc-RailWay', CAST(N'2018-11-08T17:03:53.910' AS DateTime), NULL, NULL)
INSERT [RW].[Directory_Ways] ([id], [id_station], [num], [name_ru], [name_en], [position], [capacity], [id_type_way], [id_car_status], [id_station_end], [id_shop_end], [id_overturn_end], [user_create], [dt_create], [user_edit], [dt_edit]) VALUES (3, 1, N'3', N'Ходовой', N'Ходовой', 3, 4, 0, NULL, NULL, NULL, NULL, N'EUROPE\krr-svc-RailWay', CAST(N'2018-11-08T17:03:53.910' AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [RW].[Directory_Ways] OFF
ALTER TABLE [RW].[Directory_Ways]  WITH CHECK ADD  CONSTRAINT [FK_Directory_Ways_Directory_InternalStations] FOREIGN KEY([id_station])
REFERENCES [RW].[Directory_InternalStations] ([id])
GO
ALTER TABLE [RW].[Directory_Ways] CHECK CONSTRAINT [FK_Directory_Ways_Directory_InternalStations]
GO
ALTER TABLE [RW].[Directory_Ways]  WITH CHECK ADD  CONSTRAINT [FK_Directory_Ways_Directory_InternalStations1] FOREIGN KEY([id_station_end])
REFERENCES [RW].[Directory_InternalStations] ([id])
GO
ALTER TABLE [RW].[Directory_Ways] CHECK CONSTRAINT [FK_Directory_Ways_Directory_InternalStations1]
GO
ALTER TABLE [RW].[Directory_Ways]  WITH CHECK ADD  CONSTRAINT [FK_Directory_Ways_Directory_Overturn] FOREIGN KEY([id_overturn_end])
REFERENCES [RW].[Directory_Overturn] ([id])
GO
ALTER TABLE [RW].[Directory_Ways] CHECK CONSTRAINT [FK_Directory_Ways_Directory_Overturn]
GO
ALTER TABLE [RW].[Directory_Ways]  WITH CHECK ADD  CONSTRAINT [FK_Directory_Ways_Directory_Shops] FOREIGN KEY([id_shop_end])
REFERENCES [RW].[Directory_Shops] ([id])
GO
ALTER TABLE [RW].[Directory_Ways] CHECK CONSTRAINT [FK_Directory_Ways_Directory_Shops]
GO
ALTER TABLE [RW].[Directory_Ways]  WITH CHECK ADD  CONSTRAINT [FK_Directory_Ways_Directory_TypeWays] FOREIGN KEY([id_type_way])
REFERENCES [RW].[Directory_TypeWays] ([id])
GO
ALTER TABLE [RW].[Directory_Ways] CHECK CONSTRAINT [FK_Directory_Ways_Directory_TypeWays]
GO
