@using Web_RailWay.App_LocalResources
@{
    ViewBag.Title = "RailWay";
    ViewBag.Home = "RailWay";
}

@section Document {

}

@section Admin {
    @{ Html.RenderAction("LinkAdmin", "Home"); }
}

@section styles {

}

@section scripts {
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/Home/home.js"></script>
    <script>
        $('header').addClass('img-header-home');
    </script>

}



<div class="jumbotron">
    <h1>RailWay</h1>
    <p class="lead">@GlobalResources.rw_caption</p>
    <p><a href='@Url.Action("Index", "RWUI")' class="btn btn-primary btn-lg">@GlobalResources.link_goto</a></p>
</div>
