@using Web_RailWay.App_LocalResources;
<div class="row m-3t">
    <div class="col-md-4 text-center">
        <div class="service-box">
            <i class="fa fa-users fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            <p><a href='#' class="link-admin">@GlobalResources.link_statistic_control</a></p>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="service-box">
            <i class="fa fa-cog fa-3x wow bounceIn" data-wow-delay=".2s"></i>
            <p><a href='#' class="link-admin">@GlobalResources.lunk_service_control</a></p>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="service-box">
            <i class="fa fa-book fa-3x wow bounceIn" data-wow-delay=".3s"></i>
            <p><a href='#' class="link-admin">@GlobalResources.link_reference_control</a></p>
        </div>
    </div>
</div>
@*href='@Url.Action("Sostav", "MTArrival")'*@