@using Web_RailWay.App_LocalResources;
@{ Html.RenderAction("LinkAdmin", "Home", new { area = "" }); }

<div class="row m-3t">
    <div class="col-md-4 text-center">
        <div class="service-box">
            <i class="fa fa-sitemap fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            <p><a href='@Url.Action("Index", "StationsNodes", new { area = "RW" })' class="link-admin">@RWResource.link_rw_station_nodes_control</a></p>
        </div>
    </div>
    @*<div class="col-md-4 text-center">
        <div class="service-box">
            <i class="fa fa-subway fa-3x wow bounceIn" data-wow-delay=".2s"></i>
            <p><a href='#' class="link-admin">@KISResource.link_kis_input_control</a></p>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="service-box">
            <i class="fa fa-subway fa-3x wow bounceIn" data-wow-delay=".3s"></i>
            <p><a href='#' class="link-admin">@KISResource.link_kis_output_control</a></p>
        </div>
    </div>*@
</div>
