@using Web_RailWay.App_Code
@model List<int>

@foreach (int links in Model)
{
    string index = @Html.GetMTApproachesIndex(links).ToString();
    <a id='@links' name='link-operation' title='(@links) - @Html.GetMTStationsOfIndex((string)@index) ' href="#">@Html.GetMTApproachesIndex(links) (@Html.GetMTApproachesDT(links))</a>
}
