USE [KRR-PA-CNT-Railway]
GO
/****** Object:  Table [TD].[MarriageDistrict]    Script Date: 18.06.2019 16:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TD].[MarriageDistrict](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[district] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_MarriageDistrict] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [TD].[MarriageDistrict] ON 

INSERT [TD].[MarriageDistrict] ([id], [district]) VALUES (1, N'Аглорудный район')
INSERT [TD].[MarriageDistrict] ([id], [district]) VALUES (2, N'Восточный район')
INSERT [TD].[MarriageDistrict] ([id], [district]) VALUES (3, N'Доменный район')
SET IDENTITY_INSERT [TD].[MarriageDistrict] OFF
